body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
  color: #444;
  font-size: 14px;
  height: 100vh;
  width: 100%;
}

.container {
  font-family: 'Rubik';
}

.main {
  background: #fff;
  margin: 2em auto;
  min-width: 350px;
  max-width: 500px;
  box-shadow: 0 0 20px 1px #dcdcdc;
  position: relative;
}

.header {
  text-align: center;
  padding: 0.8em 0;
  font-size: 1.7em;
  font-weight: 600;
  font-family: 'Source Sans Pro';
  color: #555;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 2px dashed #ddd;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.itemList {
  color: #666;
  padding: 1em 0.8em;
  height: calc(100vh - 220px);
  overflow: scroll;
}

.item {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: all ease 0.3s;
}

.tick-btn {
  border: none;
  background: none;
  padding: 0;
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 1rem;
}

.new-item {
  width: 92%;
  display: inline-flex;
  border-top: 1px solid #eee;
  padding: 15px 15px;
  width: 100%;
}
.new-item form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #eee;
}

.active-item {
  /* background: #ffcece; */
  font-size: 1.1em;
}
.active-item .tick-btn {
  color: #ccc;
}

.active-item label:hover span {
  text-decoration: line-through;
}

.done-item {
  color: #aaa;
}

.done-item .tick-btn {
  color: #0eb70e;
}

.done-item span {
  text-decoration: line-through;
}

.item span button {
  border-radius: 50%;
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  padding: 0;
  transition: all ease 0.2s;
}
.item span button:hover {
  background-color: #eee;
}
.item label {
  width: 78%;
  display: flex;
  align-items: center;
}

.delete-btn {
  color: red;
}

.item span button {
  background-color: transparent;
  text-decoration: none !important;
  border: none;
}

input[type='text'] {
  width: 100%;
  padding: 7px 15px;
  color: #555;
}
.new-item input[type='text'] {
  width: 100%;
  padding: 10px 15px;
  color: #444;
  border: none;
}

button {
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #666;
}

.new-item button {
  background-color: #eee;
  transition: all 0.4s;
}

.new-item button:hover {
  background-color: #ccc;
}

.deleted-item {
  background-color: #f1f1f1;
  color: #aaa;
}

.deleted-item button {
  pointer-events: none;
  color: #aaa !important;
}

.divider {
  border-top: 2px dashed #cecece;
  margin: 1rem 0;
}

/* Media query for mobile version */
@media only screen and (max-width: 360px) {
  .main {
    margin: 0 auto;
    height: 100vh;
  }

  .itemList {
    height: calc(100vh - 165px);
  }
}
